// Fontes
$fonte: 'Montserrat', sans-serif;

// Cores
$cor-primaria: #865DFF;
$cor-secundaria: #E384FF;
$cor-fonte: #f2ebf3;
$cor-fundo: #191825;


// tamanho das fontes
$tamanho-do-texto: 1.8rem;
$tamanho-do-texto-menor: $tamanho-do-texto / 1.5;
$tamanho-do-titulo: $tamanho-do-texto*2;
$tamanho-do-subtitulo: $tamanho-do-texto*1.5;
$tamanho-do-subtitulo-secundario: $tamanho-do-texto*1.3;

// peso da fontes
$peso-do-texto: 200;
$peso-do-texto-maior: 300;
$peso-do-subtitulo3: 500;
$peso-do-subtitulo2: 600;
$peso-do-subtitulo: 700;
$peso-do-titulo: 800;